[Unit]
Description=The typesofants reverse proxy!

[Service]
Type=simple
ExecStart=/snap/bin/docker-compose --project-directory=/home/ant/service/ant-gateway/464-2025-10-26-19-48-55517e3 up --no-build --force-recreate ant-gateway
ExecStop=/snap/bin/docker-compose --project-directory=/home/ant/service/ant-gateway/464-2025-10-26-19-48-55517e3 stop ant-gateway
EnvironmentFile=/home/ant/service/ant-gateway/464-2025-10-26-19-48-55517e3/.env
WorkingDirectory=/home/ant/service/ant-gateway/464-2025-10-26-19-48-55517e3
Restart=always

LoadCredentialEncrypted=tls_cert.pem:/home/ant/service/ant-gateway/464-2025-10-26-19-48-55517e3/secrets/tls_cert.pem
LoadCredentialEncrypted=tls_key.pem:/home/ant/service/ant-gateway/464-2025-10-26-19-48-55517e3/secrets/tls_key.pem

[Install]
WantedBy=multi-user.target
