# Production deployment properties
TYPESOFANTS_ENV="prod"

# ant-renewing-certificates
ANT_RENEWING_CERTIFICATES_FQDN="typesofants.org"

# ant-naming-domains
ANT_NAMING_DOMAINS_FQDN="prod-v2.typesofants.org,ip.typesofants.org"

# ant-host-agent
ANT_HOST_AGENT_INSTALL_ROOT_DIR="/home/ant/service"

# ant-gateway
ANT_GATEWAY_FQDN="typesofants.org"
# https://developers.cloudflare.com/fundamentals/reference/network-ports/
ANT_GATEWAY_HTTP_PORT="80"
ANT_GATEWAY_HTTPS_PORT="443"
NEXT_PUBLIC_ANT_GATEWAY_PORT="443"

# ant-looking-pretty
NEXT_PUBLIC_TYPESOFANTS_ENV="prod"
ANT_LOOKING_PRETTY_HOST="antworker001.hosts.typesofants.org" # KEEP: in hardcoded nginx config
ANT_LOOKING_PRETTY_PORT="3240" # KEEP: in hardcoded nginx config

# ant-on-the-web
ANT_ON_THE_WEB_HOST="antworker001.hosts.typesofants.org" # KEEP: in hardcoded nginx config
ANT_ON_THE_WEB_PORT="3231" # KEEP: in hardcoded nginx config
ANT_ON_THE_WEB_MODE="prod"
ANT_ON_THE_WEB_ALLOWED_ORIGINS="typesofants.org"
ANT_ON_THE_WEB_MAILJET_SENDER_EMAIL="ants@typesofants.org"
ANT_ON_THE_WEB_MAILJET_SENDER_FROM="typesofants.org"

# ant-data-farm
ANT_DATA_FARM_PORT="7000" # KEEP: ant-on-the-web, ant-who-tweets uses it
ANT_DATA_FARM_HOST="antworker006.hosts.typesofants.org"

# ant-who-tweets
ANT_WHO_TWEETS_HANDLE="typesofants"

# ant-fs
ANT_FS_HOST_PORTS="[{\"url\":\"antworker004.hosts.typesofants.org:3237\",\"tls\":false},{\"url\":\"ant.hisbaan.beer:443\",\"tls\":true},{\"url\":\"ant.flower.beer:443\",\"tls\":true}]"
ANT_FS_ROOT_PATH="fs"

# ant-backing-it-up
ANT_BACKING_IT_UP_ROOT_PATH="fs"

# ant-backing-it-up-db
ANT_BACKING_IT_UP_DB_HOST="antworker003.hosts.typesofants.org"
ANT_BACKING_IT_UP_DB_PORT="3239"

# ant-matchmaker
ANT_MATCHMAKER_HTTP_PORT="3245"
ANT_MATCHMAKER_GOSSIP_PORT="3246"
ANT_MATCHMAKER_SERVER_PORT="3247"
ANT_MATCHMAKER_RETRY_JOIN_FLAGS="-retry-join antworker001.hosts.typesofants.org:3246 -retry-join antworker003.hosts.typesofants.org:3246 -retry-join antworker004.hosts.typesofants.org:3246"

# ant-matchmaker-infra
ANT_MATCHMAKER_INFRA_HTTP_PORT="3258"
ANT_MATCHMAKER_INFRA_GOSSIP_PORT="3259"
ANT_MATCHMAKER_INFRA_SERVER_PORT="3260"
ANT_MATCHMAKER_INFRA_RETRY_JOIN_FLAGS="-retry-join antworker004.hosts.typesofants.org:3259 -retry-join antworker005.hosts.typesofants.org:3259 -retry-join antworker006.hosts.typesofants.org:3259"

ANT_MATCHMAKER_CLIENT_HTTP_PORT="9990" # Arbitrary port used for developer machines to connect to the production service-registry cluster
