[Unit]
Description=The typesofants per-host metrics exporter!

[Service]
Type=simple
EnvironmentFile={{INSTALL_DIR}}/.env
Environment=TYPESOFANTS_SECRET_DIR={{INSTALL_DIR}}/secrets
ExecStart={{INSTALL_DIR}}/node_exporter --web.listen-address=":{{ANT_WORKER_NODE_METRICS_EXPORTER_PORT}}" --collector.systemd
WorkingDirectory={{INSTALL_DIR}}
Restart=always

[Install]
WantedBy=multi-user.target
